@media only screen and (max-width:992px){
 
}


@media only screen and (max-width:768px){}


@media only screen and (max-width:576px){
    .menu ul{
        display: none;
    }

    header hr{
        display: none;
    }

    nav button{
        display: none;
    }

    .boy{
        max-width: 100%;
    }
}